- unless @showdowns.blank?
  - @showdowns.each do |s|
    %p
      = link_to s.name, showdown_path(s)
      - s.topics.each do |t|
        = image_tag(t.avatar.thumb.url)
        - unless t == s.topics.last
          vs
  

%p
  = link_to 'Add showdown', new_showdown_url
